nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border: 2px solid black;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}